<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nuova Ricetta</title>
    <link rel="stylesheet" href="/css/login.css" />
</head>

<body>
	<header>
		<h1><a href= "/"> SiwFood </a></h1>
		<div class="user-info" th:if="${userDetails}">
			<span th:text="${userDetails.username}"></span>
			<a href="/logout">Logout</a>
		</div>
		<div th:unless="${userDetails}">
			<a href="/login">Login</a>
		</div>
	</header>
	
	<main>
	<h1>Gestisci gli ingredienti</h1>
	<form th:action="@{/cuocoAddIngrediente}" method="POST" th:object="${ingrediente}" >
  		<div>
			<span th:text="${messaggioErrore}">Errore</span>
		</div>
		
		<div>
			<label>Nome:</label> 
			<span><input required type="text" th:field="${ingrediente.name}" /></span>
		</div>
		
		<div>
			<span><button type="submit">Conferma</button></span>
		</div>
	</form>
	
		
		<div th:if="${ingredienti==null || ingredienti.isEmpty()}">Non ci sono ingredienti nel sistema</div>
		<form th:unless="${ingredienti==null || ingredienti.isEmpty()}">
           <label>Ingredienti:</label>
                <ul>
                    <div th:each="ing : ${ingredienti}">
                        <span th:text="${ing.name}"></span>
                        <a th:href="@{'/removeIngrediente/' + ${ing.id}}">Rimuovi</a>
                    </div>
                </ul>
            
            </form> 
            
            <div>
             <a class="action-box" href="/ricette " >
                  Torna alle ricette
             </a>
         </div>
	</main>
</body>

</html>