<!DOCTYPE html>
<html lang="it">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cuochi</title>
    <link rel="stylesheet" href="/css/ricette.css" />
</head>

<body>
    <header>
        <h1><a href="/">SiwFood</a></h1>
        <div class="user-controls">
            <div th:if="${userDetails}">
                <span th:text="${userDetails.username}"></span>
                <a href="/logout">Logout</a>
            </div>
            <div th:unless="${userDetails}">
                <a href="/login">Login</a>
            </div>
        </div>
    </header>

    <main>
        <h1>Cuochi</h1>
        <div th:if="${cuochi==null || cuochi.isEmpty()}">Non ci sono cuochi nel sistema</div>
        <ul>
            <li th:each="cuoco : ${cuochi}">
                <a th:href="@{'/cuoco' + '/' + ${cuoco.id}}"
                   th:text="${cuoco.name} + ' ' + ${cuoco.surname}">Antonino Cannavacciuolo</a>
            </li>
        </ul>
    </main>
</body>

</html>
