<!DOCTYPE html>
<html lang="it">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ricette</title>
    <link rel="stylesheet" href="/css/ricette.css" />
</head>

<body>
    <header>
        <h1><a href="/">SiwFood</a></h1>
        <div class="user-controls">
            <div th:if="${userDetails}">
                <span th:text="${userDetails.username}"></span>
                <a href="/logout">Logout</a>
            </div>
            <div th:unless="${userDetails}">
                <a href="/login">Login</a>
            </div>
        </div>
    </header>

    <main>
        <h1>Ricette</h1>
        <div th:if="${ricette==null || ricette.isEmpty()}">Non ci sono ricette nel sistema</div>
        <ul>
            <li th:each="ricetta : ${ricette}">
                <a th:href="@{'/ricetta' + '/' + ${ricetta.id}}"
                   th:text="${ricetta.name}">Tiramisù</a>
            </li>
        </ul>
        
        <div th:if="${userDetails}">
                <a href="/addRicettaCuoco" class="action-box"> Aggiungi Ricetta</a>
                <a href="/addIngredienteCuoco" class="action-box">Aggiungi ingrediente</a>
                <a href="/ricetteCuoco" class="action-box">Le tue Ricette</a>
         </div>
        
        
        
        
    </main>
</body>

</html>
