/* Global styles */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #333;
  background-color: #f9f9f9;
}

h1, h2 {
  margin-bottom: 10px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  margin-bottom: 10px;
}

a {
  text-decoration: none;
  color: rgb(0, 128, 0);
}

a:hover {
  color: #006400;
}

/* Ricetta page styles */

.ricetta {
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.ricetta h1 {
  font-size: 24px;
  margin-top: 0;
}

.ricetta img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 20px;
}

.ricetta ul {
  margin-top: 20px;
}

.ricetta li {
  margin-bottom: 2px;
}

.ricetta span {
  font-size: 18px;
  color: rgb(0, 0, 0);
}

/* Image gallery styles */

.image-gallery {
  flex-wrap: wrap;
  justify-content: center;
}

.image-gallery img {
  width: 30%;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
  margin: 10px;
  cursor: pointer;
}

.image-gallery img:hover {
  transform: scale(1.1);
}

/* Cuoco page styles */

.cuoco {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.cuoco h1 {
  font-size: 24px;
  margin-top: 0;
}

.cuoco img {
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 20px;
}

.cuoco span {
  font-size: 18px;
  color: rgb(0, 0, 0);
}