<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nuova Ricetta</title>
    <link rel="stylesheet" href="/css/login.css" />
</head>

<body>
	<header>
		<h1><a href= "/admin/indexAdmin"> SiwFood </a></h1>
		<div class="user-info" th:if="${userDetails}">
			<span th:text="${userDetails.username}"></span>
			<a href="/logout">Logout</a>
		</div>
		<div th:unless="${userDetails}">
			<a href="/login">Login</a>
		</div>
	</header>
	
	<main>
	<h1>Aggiungi una ricetta</h1>
	<form th:action="@{/adminAddRicetta}" method="POST" th:object="${ricetta}" enctype="multipart/form-data">
  		<div>
			<span th:text="${messaggioErrore}">Errore</span>
		</div>
		
		<div>
			<label>Nome:</label> 
			<span><input type="text" th:field="${ricetta.name}" /></span>
		   
		</div>
		

		<div>
			<label>Descrizione:</label> <span><input type="text" th:field="${ricetta.descrizione}" /></span>
		   
		</div>
		
			   <div>
                <label for="cuoco">Seleziona Cuoco:</label>
                <select id="cuoco" th:field="${ricetta.cuoco}" >
                   <option th:each="cuoco : ${cuochi}" th:value="${cuoco.id}" th:text="${cuoco.name}+ ' ' + ${cuoco.surname}"></option>
               </select>
               </div>

		
        <h2>Aggiungi delle foto</h2>

            <div>
              <label for="files" ></label>
              <span><input required type="file" name="files" multiple ></span>
            </div>       

		
		<div>
			<span><button type="submit">Conferma</button></span>
		</div>
	</form>
	</main>
</body>

</html>