<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>
		SiwFood - Homepage
	</title>
	<link rel="stylesheet" href="/css/indexProva.css" />
</head>

<body>
	<header>
		<h1><a href= "/admin/indexAdmin"> SiwFood </a></h1>
		<div th:if="${userDetails}">
			<span th:text="${userDetails.username}"></span>
			<a href="/logout">Logout</a>
		</div>
		<div th:unless="${userDetails}">
			<a href="/login">Login</a>
		</div>
	</header>


    
    <main>
		<h1>Benvenuto amministratore</h1>
        <div class="container">
            <div class="item">
                <a href="/admin/indexRicette">
                    <img src="/images/ricette.jpg" alt="Consulta le Ricette">
                    <span>Operazioni sulle ricette</span>
                </a>
            </div>
            <div class="item">
                <a href="/admin/indexCuochi">
                    <img src="/images/cuochi.jpg" alt="Consulta i Cuochi">
                    <span>Operazioni sui cuochi</span>
                </a>
            </div>
        </div>
    </main>
</body>

</html>